/* Importações */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Montserrat', sans-serif; */

/* Reset CSS */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Pseudo Raiz do Documento HTML */
:root {
  --Font-family-princ: Montserrat;
}

/* body CSS */
body {
  width: auto;
  overflow-x: hidden;
}


/* header CSS */
header {
  display: flex;
  justify-content: center;
  width: auto;
  height: 600px;
  background-image: url(../assets/imgs/imagem-background-header.svg);
  background-repeat: repeat;
  background-size: cover;
}

/* Class Cabecalho */
.cabecalho {
  max-width: 1240px;
  height: 600px;
}

.logo-privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
/* Logo Header */
.logo img {
  width: 196px;
}
/* privacy-policy */
.privacy-policy {
  color: white;
  font-family: var(--Font-family-princ);
  font-size: 9pt;
  font-weight: 500;
}
/* Media Com configurações Funcionais até a largura 1257px */

/* @media (max-width: 1257px) {
    .logo img {
        position: relative;
        left: 20px;
    }
    .privacy-policy {
        position: relative;
        right: 20px;
    }
} */

.content-dawnload-img-celular {
  display: flex;
  margin-top: 200px;
}
/* texto dawnload */
.content-dawnload {
  width: 578px;
  height: 300px;
  color: white;
  font-family: var(--Font-family-princ);
}
.content-dawnload h1 {
  font-size: 30pt;
  text-decoration: none;
  margin-bottom: 20px;
}
.content-dawnload p {
  font-size: 12.6pt;
  margin-bottom: 30px;
}
/* Botão */
.buttons-Dawnload-apps {
  display: flex;
  gap: 15px;
  text-decoration: none;
}
.Button-app-store,
.Button-google-play {
  text-decoration: none;
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px;
}
.Button-app-store img,
.Button-app-store span,
.Button-app-store h2,
.Button-google-play img,
.Button-google-play span,
.Button-google-play h2 {
  text-decoration: none;
  color: white;
  position: relative;
  left: 5px;
}
.Button-app-store img,
.Button-google-play img {
  width: 35px;
}
.Button-app-store-text span,
.Button-google-play-text span {
  font-size: 11pt;
}
.Button-app-store-text h2,
.Button-google-play-text h2 {
  font-size: 13pt;
  width: 120px;
}
.Button-app-store {
  background-color: red;
  border: 1px solid red;
}
.img-celular {
  position: relative;
  bottom: 250px;
  right: 23px;
  width: 640px;
  height: 800px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2533px;
  width: auto;
}


.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 35px;
  width: 1240px;
  height: 320px;
  margin-top: 140px;
  font-family: var(--Font-family-princ);
  z-index: 10;
}
.container-cards a {
  text-decoration: none;
}
.card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 15px;
  height: 320px;
}


.card h2 {
  position: relative;
  bottom: 25px;
  color: rgba(255, 255, 255, 0.767);
}

/* cards background img */

.card-Harare-img {
  background-image: 
  linear-gradient(to top, black, transparent), 
  url('../assets/imgs/card-Harare-img.svg');
}
.card-Harare-img:hover {
  animation-name: cardHarare;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes cardHarare {
  0% {width: 300px}
  100% {width: 320px}
}

.card-Bulawayo-img {
  background-image: 
  linear-gradient(to top, black, transparent),
  url('../assets/imgs/card-Bulawayo-img.svg');
}
.card-Bulawayo-img:hover {
  animation-name: cardBulawayo;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes cardBulawayo {
  0% {width: 300px}
  100% {width: 320px}
}

.card-Mutare-img {
  background-image: 
  linear-gradient(to top, black, transparent),
  url('../assets/imgs/card-Mutare-img.svg');
}
.card-Mutare-img:hover {
  animation-name: Mutare;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes Mutare {
  0% {width: 300px}
  100% {width: 320px}
}

.card-Chinhoyi-img {
  background-image: 
  linear-gradient(to top, black, transparent),
  url('../assets/imgs/card-Chinhoyi-img.svg');
}
.card-Chinhoyi-img:hover {
  animation-name: cardChinhoyi;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes cardChinhoyi {
  0% {width: 300px}
  100% {width: 320px}
}

/* parte how works dos apps */
.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;

}
.How-app-works {
  position: relative;
  width: 730px;
  font-family: var(--Font-family-princ);
}

.How-app-works>h2 {
  position: relative;
  left: 70px;
  width: 630px;
  text-align: center;
  margin: 40px 0;
  padding: 40px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.178);
  color: rgba(0, 0, 0, 0.8);
}

.app-works-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.app-content {
  display: flex;
  justify-content: space-between;
}
.app-content-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.app-content, .app-content-right {
  display: flex;
  align-items: center;
}
.app-text {
  max-width: 350px;
}
.app-text h3,.app-text h2,.app-text p {
  margin: 20px 0;
}
.app-text h3{
  color: #FF0000;
}
.app-text h2 {
  color: #252B42;
}
.app-text p {
  color: #737373;
}

.app-content img,.app-content-right img{
  width: 200px;
}

/* Circulos para dar um efeito junto ao how works apps*/
.circle-1,.circle-2 {
  background: linear-gradient(#ff00004f, #ff000015, #ff000000);
  border-radius: 50%;
}
.circle-1 {
  position: absolute;
  float: left;
  top: 1750px;
  left: -650px;
  width: 800px;
  height: 800px;
}
.circle-2 {
  position: absolute;
  float: right;
  top: 1100px;
  right: -650px;
  width: 800px;
  height: 800px;
}

/* What others comentarios */
.What-others {
  height: 509px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--Font-family-princ);
  width: auto;
}
.What-others>h2 {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.178);
  width: 600px;
  margin: 60px 0 20px 0;
  padding: 40px;
  color: rgba(0, 0, 0, 0.8);
}
.cards-comentario {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(1, 320px);
  grid-gap: 0 40px;
}
.card-cm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.075);
  padding: 20px;
  color: #737373;
}
.perfil-user-cm {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
}
.perfil-user-cm img {
  width: 50px;
}
.perfil-user-cm h2 {
  color:#FF0000;
  font-size: 13pt;
}
.perfil-user-cm h3 {
  color: #737373;
  font-size: 10pt;
}

/* contact Us */
.contactUs {
  height: 400px;
  background-color: red;
}